USE [master]
GO
/****** Object:  Database [Plants]    Script Date: 29.07.2025 23:08:45 ******/
CREATE DATABASE [Plants]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Plants', FILENAME = N'D:\Programs\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Plants.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Plants_log', FILENAME = N'D:\Programs\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Plants_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Plants].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Plants]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) COLLATE Cyrillic_General_CI_AS NULL,
	[Email] [varchar](150) COLLATE Cyrillic_General_CI_AS NULL,
	[Phone] [varchar](15) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK__Customer__A4AE64B8B24AD331] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerStatistics]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerStatistics](
	[CustomerID] [int] NOT NULL,
	[Discount] [bit] NOT NULL,
	[EligibleForDiscount] [bit] NULL,
	[LastDiscountCheckDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerStatistics] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[PlantID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[PostalAddress] [varchar](255) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[OrderDate] [date] NOT NULL,
	[CustomerID] [int] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[PaymentTypeID] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeName] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantGroups]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantGroups](
	[GroupID] [int] NOT NULL,
	[GroupName] [varchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_PlantGroups] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantPhotos]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantPhotos](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[PlantID] [int] NOT NULL,
	[PhotoPath] [varchar](255) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_PlantPhotos] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plants]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plants](
	[PlantID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[Name] [varchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[Description] [text] COLLATE Cyrillic_General_CI_AS NULL,
	[isAvailableForPurchase] [bit] NULL,
 CONSTRAINT [PK_Plants] PRIMARY KEY CLUSTERED 
(
	[PlantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantSalesDetails]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantSalesDetails](
	[PlantID] [int] NOT NULL,
	[SoldAs] [varchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DeliveryTime] [varchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_PlantSalesDetails] PRIMARY KEY CLUSTERED 
(
	[PlantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [Name], [Email], [Phone]) VALUES (1, N'Иван Иванов', N'ivanov@example.com', N'89993334455')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Email], [Phone]) VALUES (2, N'Анна Смирнова', N'smirnova@example.com', N'89994444455')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Email], [Phone]) VALUES (3, N'Басов Павел Константинович', N'basov@example.ru', N'89995554455')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[CustomerStatistics] ([CustomerID], [Discount], [EligibleForDiscount], [LastDiscountCheckDate]) VALUES (1, 1, NULL, NULL)
INSERT [dbo].[CustomerStatistics] ([CustomerID], [Discount], [EligibleForDiscount], [LastDiscountCheckDate]) VALUES (2, 0, NULL, NULL)
INSERT [dbo].[CustomerStatistics] ([CustomerID], [Discount], [EligibleForDiscount], [LastDiscountCheckDate]) VALUES (3, 1, 1, NULL)
GO
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [PlantID], [Quantity]) VALUES (1, 1, 1, 3)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [PlantID], [Quantity]) VALUES (2, 23, 2, 2)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [PlantID], [Quantity]) VALUES (3, 2, 3, 5)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [PostalAddress], [OrderDate], [CustomerID], [TotalPrice], [PaymentTypeID]) VALUES (1, N'Москва, ул. Ленина, д.10', CAST(N'2024-11-01' AS Date), 1, CAST(1050.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Orders] ([OrderID], [PostalAddress], [OrderDate], [CustomerID], [TotalPrice], [PaymentTypeID]) VALUES (2, N'Санкт-Петербург, Невский пр., д.15', CAST(N'2024-11-10' AS Date), 2, CAST(4456.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Orders] ([OrderID], [PostalAddress], [OrderDate], [CustomerID], [TotalPrice], [PaymentTypeID]) VALUES (3, N'Курск, ул. Пушкина 228, кв. 7', CAST(N'2020-10-14' AS Date), 3, CAST(10000.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentTypeName]) VALUES (1, N'Наложенный платеж')
INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentTypeName]) VALUES (2, N'Предоплата')
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
GO
INSERT [dbo].[PlantGroups] ([GroupID], [GroupName]) VALUES (1, N'Плодовые деревья')
INSERT [dbo].[PlantGroups] ([GroupID], [GroupName]) VALUES (2, N'Хвойные деревья')
INSERT [dbo].[PlantGroups] ([GroupID], [GroupName]) VALUES (3, N'Декоративные деревья')
GO
SET IDENTITY_INSERT [dbo].[PlantPhotos] ON 

INSERT [dbo].[PlantPhotos] ([PhotoID], [PlantID], [PhotoPath]) VALUES (32, 1, N'https://avatars.mds.yandex.net/i?id=6cd36151268b01a7e3bfb00498e5854c_l-5869361-images-thumbs&n=13')
INSERT [dbo].[PlantPhotos] ([PhotoID], [PlantID], [PhotoPath]) VALUES (33, 2, N'https://i.ebayimg.com/images/g/tM0AAOSwpAtj29cc/s-l1600.jpg')
INSERT [dbo].[PlantPhotos] ([PhotoID], [PlantID], [PhotoPath]) VALUES (34, 5, N'https://avatars.mds.yandex.net/i?id=f7966af09141e0fc7ddf142cd1e7c08b_l-4576872-images-thumbs&n=13')
SET IDENTITY_INSERT [dbo].[PlantPhotos] OFF
GO
INSERT [dbo].[Plants] ([PlantID], [GroupID], [Name], [Description], [isAvailableForPurchase]) VALUES (1, 1, N'Яблоня', N'Плодоносит осенью, применяется в садах', 1)
INSERT [dbo].[Plants] ([PlantID], [GroupID], [Name], [Description], [isAvailableForPurchase]) VALUES (2, 1, N'Груша', N'Дерево с сочными плодами', 1)
INSERT [dbo].[Plants] ([PlantID], [GroupID], [Name], [Description], [isAvailableForPurchase]) VALUES (3, 1, N'Слива', N'Дерево с темными плодами', 1)
GO
INSERT [dbo].[PlantSalesDetails] ([PlantID], [SoldAs], [Quantity], [Price], [DeliveryTime]) VALUES (1, N'Саженцы', 50, CAST(500.00 AS Decimal(10, 2)), N'2-3 недели')
INSERT [dbo].[PlantSalesDetails] ([PlantID], [SoldAs], [Quantity], [Price], [DeliveryTime]) VALUES (2, N'Саженцы', 30, CAST(600.00 AS Decimal(10, 2)), N'1-2 недели')
INSERT [dbo].[PlantSalesDetails] ([PlantID], [SoldAs], [Quantity], [Price], [DeliveryTime]) VALUES (3, N'Семенами', 50, CAST(250.00 AS Decimal(10, 2)), N'5-7 дней')
GO
ALTER TABLE [dbo].[CustomerStatistics]  WITH CHECK ADD  CONSTRAINT [FK_CustomerStatistics_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[CustomerStatistics] CHECK CONSTRAINT [FK_CustomerStatistics_CustomerID]
GO
ALTER TABLE [dbo].[CustomerStatistics]  WITH CHECK ADD  CONSTRAINT [FK_CustomerStatistics_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[CustomerStatistics] CHECK CONSTRAINT [FK_CustomerStatistics_Customers]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Plants] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plants] ([PlantID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Plants]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PaymentTypes] FOREIGN KEY([PaymentTypeID])
REFERENCES [dbo].[PaymentTypes] ([PaymentTypeID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PaymentTypes]
GO
ALTER TABLE [dbo].[PlantPhotos]  WITH CHECK ADD  CONSTRAINT [FK_PlantPhotos_Plants] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plants] ([PlantID])
GO
ALTER TABLE [dbo].[PlantPhotos] CHECK CONSTRAINT [FK_PlantPhotos_Plants]
GO
ALTER TABLE [dbo].[Plants]  WITH CHECK ADD  CONSTRAINT [FK_Plants_PlantGroups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[PlantGroups] ([GroupID])
GO
ALTER TABLE [dbo].[Plants] CHECK CONSTRAINT [FK_Plants_PlantGroups]
GO
ALTER TABLE [dbo].[PlantSalesDetails]  WITH CHECK ADD  CONSTRAINT [FK_PlantSalesDetails_Plants] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plants] ([PlantID])
GO
ALTER TABLE [dbo].[PlantSalesDetails] CHECK CONSTRAINT [FK_PlantSalesDetails_Plants]
GO
/****** Object:  StoredProcedure [dbo].[ApplyDiscount]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ApplyDiscount]
AS
BEGIN
    UPDATE CustomerStatistics
    SET Discount = 0.2
    WHERE OrdersCount >= 10;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomerDiscounts]    Script Date: 29.07.2025 23:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCustomerDiscounts]
AS
BEGIN
    -- Обновляем статус скидки для клиентов, которые сделали хотя бы 3 заказа за последние 3 года
    UPDATE cs
    SET cs.EligibleForDiscount = 1
    FROM CustomerStatistics cs
    WHERE cs.CustomerID IN (
        SELECT o.CustomerID
        FROM Orders o
        WHERE o.OrderDate >= DATEADD(YEAR, -3, GETDATE()) -- за последние 3 года
        GROUP BY o.CustomerID
        HAVING COUNT(o.OrderID) >= 3
    );

    -- Сбрасываем скидку для остальных клиентов
    UPDATE cs
    SET cs.EligibleForDiscount = 0
    WHERE cs.CustomerID NOT IN (
        SELECT o.CustomerID
        FROM Orders o
        WHERE o.OrderDate >= DATEADD(YEAR, -3, GETDATE())
        GROUP BY o.CustomerID
        HAVING COUNT(o.OrderID) >= 3
    );
END;
GO
USE [master]
GO
